.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main{
  min-height: 100vh;
}
.App_footer{
  
}



